@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'poppins', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header
{
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}


.logo
{
    text-decoration: none;
    color: #f3f3f3;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    transition: 0.4s ease;
}

.logo:hover
{
color: #c7c7c7;
}

.navigation a
{
    display: inline-block;
    color: #f3f3f3;
    text-decoration: none;
    font-size: 1.1em;
    padding-left: 30px;
    font-weight: 600;
    transition: 0.3s ease;
}

.navigation a:hover
{
    color: #c7c7c7;
    transform: scale(0.97);
}

section
{
    padding: 100px 200px;
}

.main
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(upscal.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:scroll ;
}

.main h2
{
    color: #f3f3f3;
    font-size: 1.4em;
    font-weight: 600;
}

.main h2 span
{
    display: inline-block;
    margin-top: 10px;
    color: #f3f3f3;
    font-size: 3em;
    font-weight: 600;
}

.main h3
{
    color: #f3f3f3;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px ;
}

.main-btn
{
    color: #f3f3f3;
    background-color: #8e4a65;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 30px;
    transition: 0.4s ease;
}

.main-btn:hover
{
    background-color: #572c3d;
    transform: scale(1.05);
}

.social-icons a
{
    display: inline-block;
    color: #f3f3f3;
    font-size: 1.7em;
    padding-right: 25px;
    transition: 0.4s ease;
}

.social-icons a:hover
{
    color: #c7c7c7;
    transform: scale(1.08);
}

.title
{
    display: flex;
    justify-content: center;
    color: #8e4a65;
    font-size: 2.5em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card
{
    background-color: #2b2a31;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1  /20%);
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    transition: 0.3s ease;
}

.card:hover
{
    transform: scale(1.05);
}

.icon
{
    color: #8e4a65;
    font-size: 8em;
    text-align: center;
}
.info
{
    text-align: center;
}
.info h3
{
    align-content: center;
    color: #f3f3f3;
    margin: 10px;
    font-size: 1.5em;
    font-weight: 700;
}

.info p
{
    color: #f3f3f3;
}

.Projects
{
    background-color: #2b2a31;
}

.Projects .content
{
    margin-top: 30px;
}

.Project-card
{
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    min-height: 14em;
    width: 27em;
    overflow: hidden;
    margin: 20px;
    transition: 0.3s ease;
}
.Project-card:hover
{
    transform: scale(1.05);
}


.Project-img img
{
    width: 100%;
    transition: 0.3s ease;
    border-radius: 0 0 10px 10px;
}

.Project-img
{
    transition: 0.3s ease;
}

.Project-card:hover .Project-img
{
opacity: 0.9;
}

.Project-info
{
    padding: 1em;
}

.Project-categoty
{
    font-size: 0.9em;
    color: #000;
}

.project-title
{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.more-details
{
    text-decoration: none;
    color: #8e4a65;
    transition: 0.3s ease;
}

.more-details:hover
{
    color: #572c3d;
    font-weight: 600;
}

.content
{
    display: flex;
}

.Projects .title
{
    color: #f3f3f3;
}

.Contact .icon
{
    color: #8e4a65;
    font-size: 5em;
    text-align: center;
    min-height: 150px;
}

.Contact .info
{
    font-size: 1.3em;
}
.footer
{
    background-color: #2b2a31;
    color: #f3f3f3;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-title
{
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span
{
    color: #8e4a65;
}

footer .social-icons
{
    font-size: 0.8em;
}

@media (max-width: 1024px){

header{
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navigation a{
    display: inline-block;
    color: #f3f3f3;
    text-decoration: none;
    font-size: 1.1em;
    padding-left: 15px;
    font-weight: 600;
    transition: 0.3s ease;
}

section{
    padding: 15px 30px;
}

.footer{
    background-color: #2b2a31;
    color: #f3f3f3;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .social-icons{
    font-size: 0.6em;
}

.Projects{
    padding: 0em;
}
.Project-card{
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    min-height: 14em;
    width: 20em;
    overflow: hidden;
    margin: 20px;
    transition: 0.3s ease;
}

.card{
    background-color: #2b2a31;
    width: 20em;
    box-shadow: 0 5px 25px rgba(1 1 1  /20%);
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    transition: 0.3s ease;
}
}

@media (max-width: 425px){

    header{
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.logo{
    text-decoration: none;
    color: #f3f3f3;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    transition: 0.4s ease;
}

.navigation a{
    display: inline-block;
    color: #f3f3f3;
    text-decoration: none;
    font-size: .7em;
    padding-left: 5px;
    font-weight: 500;
    transition: 0.3s ease;
}

.main-contant{
    padding-bottom: 300px;
}

.main h2{
    color: #f3f3f3;
    font-size: 1.3em;
    font-weight: 00;
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #f3f3f3;
    font-size: 1.6em;
    font-weight: 600;
}

.main h3{
    color: #f3f3f3;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px ;
}

.title{
    display: flex;
    justify-content: center;
    color: #8e4a65;
    font-size: 2.5em;
    font-weight: 800;
    margin-bottom: 30px;
    padding-top: 30px;
}

.social-icons a{
    display: inline-block;
    color: #f3f3f3;
    font-size: 1.5em;
    padding-right: 20px;
    transition: 0.4s ease;
}

.social-icons a:hover
{
    color: #c7c7c7;
    transform: scale(1.08);
}

.main-btn
{
    color: #f3f3f3;
    background-color: #8e4a65;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 30px;
    transition: 0.4s ease;
}

.main-btn:hover{
    background-color: #572c3d;
    transform: scale(1.05);
}

.footer-title{
    font-size: .9em;
    font-weight: 600;
}
}